


body {
    background-color: #081b29;
    color: #ededed;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

nav a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

nav a:hover,
nav a.active {
    color: #00abf0;
}

.accueil {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.accueil-content h1 {
    font-size: 56px;
    font-weight: 700;
}

.cv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: #082031;
    padding-bottom: 6rem;
}

.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.cv-content {
    text-align: center;
}

.cv-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.bouton {
    display: inline-block;
    width: 15rem;
}

.bouton a {
    background: #00abf0;
}

.bouton .b1 {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    border: .2rem solid;
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
}

.lettre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: #071621;
    padding-bottom: 6rem;
}

.lettre h2 {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.lettre-content {
     text-align: center
}

.lettre-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.projet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: #082031;
    padding-bottom: 6rem;
}

.projet h2 {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.projet-content {
     text-align: center
}

.projet p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.bouton2 {
    display: inline-block;
    width: 15rem;
} 

.bouton2 a {
  background: #00abf0;  
} 

.bouton2 .b2 {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    border: .2rem solid;
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
}


.attestation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: #071621;
    padding-bottom: 6rem;
}

.attestation h2 {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.attestation-content {
     text-align: center
}

.attestation p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.bouton3 {
    display: inline-block;
    width: 15rem;
} 

.bouton3 a {
    background: #00abf0;
}

.bouton3 .b3 {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    border: .2rem solid;
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #030e15;
}